---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About Us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About FoVR Interactive"
    image={{
      src: '~/assets/images/matt-in-headset.png',
      alt: 'Matthew wearing a VR headset in front of a greenscreen.',
    }}
  >
    <Fragment slot="title">
      Creating <span class="text-accent dark:text-white highlight">immersive</span> VR, AR, and XR experiences with a personal touch.
    </Fragment>

    <Fragment slot="subtitle">
      FoVR Interactive is an indie studio dedicated to crafting immersive VR, AR, and XR experiences, leveraging cutting-edge spatial computing to create environments that feel truly alive and interactive.
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Mission & Vision"
    columns={2}
    items={[
      {
        title: 'Mission',
        description:
          'My mission is to innovate and inspire through immersive technology. By harnessing the power of VR, AR, and spatial computing, I aim to create experiences that enhance learning, engagement, and connection.',
        icon: 'tabler:license',
      },
      {
        title: 'Vision',
        description:
          'To keep pushing boundaries in immersive technology, exploring new ideas and building experiences that demostrate what is possible in VR, AR, and XR.',
        icon: 'tabler:telescope',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Our Story"
    subtitle="Starting in 2018, Fovr Interactive began with a simple idea, to create immersive experiences that connect people with digital content in exciting and impactful ways. What began as a passion project has grown into something much bigger, fueled by curiosity, creativity, and a love for pushing the limits of what’s possible. From early experiments to fully immersive VR projects, every step of the journey has been about learning, innovating, and finding new ways to make technology feel magical."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Features3 Widget ************** -->

<Features3
    title="Our Skills"
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: '3D Modeling',
        description:
          'Bringing environments to life with detailed, high-quality 3D assets.',
        icon: 'tabler:3d-cube-sphere',
      },
      {
        title: 'Animation',
        description:
          'Making virtual worlds feel alive with dynamic, engaging animations.',
        icon: 'tabler:clothes-rack',
      },
      {
        title: 'VR Game Development',
        description:
          'Building immersive, interactive VR games using Unity and Unreal Engine.',
        icon: 'tabler:cardboards',
      },
      {
        title: 'User Experience (UX) Design',
        description:
          'Crafting user friendly interfaces that feel intuitive and natural.',
        icon: 'tabler:layout-dashboard',
      },
      {
        title: 'Software Development',
        description:
          'Writing code that’s efficient, scalable, and tailored to immersive tech.',
        icon: 'tabler:code',
      },
      {
        title: 'Project Management',
        description:
          'Taking ideas from concept to completion, ensuring every detail is polished.',
        icon: 'tabler:clipboard-list',
      },
    ]}
    image={{
      src: '~/assets/images/meta-quest-pro-headset.png',
      alt: 'Meta Quest Pro headset sitting on wooden stool.',
    }}
  />

   <!-- Content Widget **************** -->

  <Content
    title="Meet the Team"
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'https://www.linkedin.com/in/matthewaisthorpe/',
        },
      },
      {
        icon: 'tabler:brand-youtube',
        callToAction: {
          target: '_blank',
          text: 'YouTube',
          href: 'https://www.youtube.com/@beardydevadventures',
        },
      },
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'GitHub',
          href: 'https://github.com/beardydevadventures',
        },
      },
    ]}
    image={{
      src: '~/assets/images/matthew-aisthorpe.png',
      alt: 'Avatar image of Matthew Aisthorpe',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Matthew Aisthorpe</h2>
      <p class="text-lg font-semibold">Founder/Developer</p>
      <br />
      <p>
        Hey there! I'm the founder and developer behind FoVR Interactive, bringing over a decade of experience in developing and managing digital projects. I'm dedicated to bringing innovative ideas to life through immersive VR, AR, and XR experiences. Each project is a step towards transforming how we interact with digital content.
      </p>
      <br />
      <p>
        Ever since I put on the original Oculus Quest, I could see great potential in immersive technologies and the experiences they can bring. This drives my passion to push this technology to its full potential.
      </p>
      <br />
      <p>If you're curious about my other work, you can find me on:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact us',
        href: '/contact',
      }
    ]}
    title="Ready to Get Started?"
    subtitle="Contact us today to discuss your project and how we can help bring your vision to life with immersive solutions."
  />
</Layout>
