---
import Layout from '@/layouts/PageLayout.astro';
import HeroText from '@/components/widgets/HeroText.astro';
import CallToAction from '@/components/widgets/CallToAction.astro';
import ContactUs from '@/components/widgets/Contact.astro';
import Features2 from '@/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contact Us" title="Let's Connect!" />

  <ContactUs
    id="contact"
    title="Drop us a message today!"
    subtitle="Share a few details about what you need or the feedback you'd like to provide. We read every message and will be in touch shortly to discuss projects, opportunities, or next steps with FoVR Interactive."
    description="We typically respond within one business day."
    successTitle="Thanks for reaching out!"
    successBody="We've received your message and will be in touch shortly."
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="We are here to help!"
    items={[
      {
        title: 'General support',
        description: `Chat with us for inquiries related to navigating our VR experiences, payment issues, accessing purchased content, or general questions about our services.`,
      },
      {
        title: 'Immersive Solutions',
        description:
          'Chat with us for questions about purchases, customisation options, licensing for commercial use, or inquiries about specific VR projects.',
      },
      {
        title: 'Technical support',
        description:
          'Chat with us when facing issues like VR setup, troubleshooting, compatibility issues with VR hardware or software, or other technical challenges related to our immersive experiences.',
      },
      {
        title: 'Email',
        description: '<a rel="noreferrer" href="mailto:contact@fovrinteractive.net">contact@fovrinteractive.net</a>',
        icon: 'tabler:mail',
      },
      {
        title: 'Social Media Support',
        description: 'Reach out to us on X with <a rel="noreferrer" target="_new" href="https://twitter.com/FovrInteractive">@FovrInteractive</a>',
        icon: 'tabler:brand-x',
      },
      {
        title: 'Location',
        description: 'Brisbane, QLD, 4000',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>
