---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

import { YouTube } from 'astro-embed';

const metadata = {
  title: 'Home',
};
---

<Layout metadata={metadata}>

  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Immersive Worlds, Innovative Technology"
    actions={[
      { text: 'Learn more', href: '#projects' },
    ]}
  >
    <Fragment slot="title">
      Exploring XR, spatial computing, and creativity, one project at a time.
    </Fragment>

    <Fragment slot="subtitle">
      Join us on this exciting journey as we explore and build immersive VR experiences. At <span class='font-semibold'>FoVR Interactive</span>, it’s all about pushing the boundaries of creativity and innovation in XR to create something truly impactful.
    </Fragment>

    <Fragment slot="image">
      <YouTube id="92JRz7ZpLtQ" title="Discover FoVR Interactive: Revolutionising VR Experiences" />
      <style is:inline>
        lite-youtube {
          margin: 0 auto;
          max-width: 100%;
        }
      </style>
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    title="About FoVR Interactive"
    subtitle="<b>FoVR Interactive</b>, is a one-person indie studio with a passion for crafting immersive XR experiences. Whether it's building captivating games, designing tools, or creating entirely new worlds, our goal is simple: to make experiences that feel magical, personal, and accessible."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Stats Widget ****************** -->

<Stats
    title="What Has Been Achieved So Far?"
    subtitle="FoVR Interactive is growing, fueled by curiosity, caffeine, and creativity."
    stats={[
      { title: 'Experiences Created', amount: '3', source: 'Unique VR applications launched.'},
      { title: 'App Downloads', amount: '1000+', source: 'across global platforms.'},
      { title: 'Minutes Per Day', amount: '16', source: 'Average daily time spent per user.'},
      { title: 'Caffeine Charged', amount: '95%', source: 'The other 5% is love.'},
    ]}
  />

  <Content
    id="projects"
    title="Our Latest Projects"
    subtitle="Explore our latest projects and see what we’ve been working on."
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'Forge of Elements is a VR adventure puzzle game where players combine elemental forces to unlock new creations and shape immersive worlds through a carefully crafted progression system.',
      },
      {
        title: 'Role:',
        description:
          'Led end-to-end development of Forge of Elements, from initial concept through design and implementation. Designed core mechanics, implemented structured elemental interactions, and crafted the narrative progression. Oversaw world-building, puzzle logic, and playtesting to ensure a rewarding and polished VR experience.',
      },
    ]}
    image={{
      src: '~/assets/images/foe/forge-of-elements-logo.png',
      alt: 'Forge of Elements VR Experience',
    }}
    callToAction={{
      text: 'Play on Meta Quest',
      icon: 'tabler:brand-meta',
      href: 'https://www.meta.com/en-gb/experiences/forge-of-elements/7956388831140201/',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        VR Experience: <br /><span class="text-2xl">Forge of Elements</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

   <Content
    isAfterContent={true}
    items={[
        {
          title: 'Description:',
          description:
            'Developed an immersive VR experience called "Smash Room," designed to provide users with a cathartic outlet for stress relief through virtual destruction.',
        },
        {
          title: 'Role:',
          description: `Led the project from concept to completion, overseeing the development of interactive elements and realistic physics. Collaborated with 3D artists to create detailed environments and objects, ensuring a highly immersive and engaging user experience.`,
        },
      ]}
      image={{
        src: '~/assets/images/smash-room.png',
        alt: 'Smash Room VR Experience',
      }}
      callToAction={{
        text: 'Play on Meta Quest',
        icon: 'tabler:brand-meta',
        href: 'https://www.meta.com/en-gb/experiences/smash-room/5525534314159952/',
      }}
    >
      <Fragment slot="content">
        <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
          VR Experience: <br /><span class="text-2xl">Smash Room</span>
        </h3>
      </Fragment>

      <Fragment slot="bg">
        <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
      </Fragment>
    </Content>

  <!-- Features2 Widget ************** -->

  <Features2
    title="What We Create at FoVR Interactive"
    subtitle="As a indie developer, we specialise in bringing imaginative VR ideas to life. From custom projects to creative solutions, every experience is crafted with care."
    items={[
      {
        title: 'VR Development',
        description:
          'We create custom VR experiences that bring your ideas to life, from concept to execution, ensuring a highly engaging and immersive environment.',
        icon: 'flat-color-icons:command-line',
      },
      {
        title: 'Interactive Solutions',
        description:
          'Experience our VR solutions firsthand with interactive demos and previews that showcase the full potential of Immersive technology.',
        icon: 'flat-color-icons:donate',
      },
      {
        title: 'XR Consulting',
        description:
          'Want to learn more about extended reality? Our consultants offer strategic advice to help you fully leverage VR technology for your projects.',
        icon: 'flat-color-icons:idea',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Main Features of Our Immersive Solutions"
    subtitle="Our VR solutions are designed to meet the needs of educational and entertainment industries, offering several key features that ensure success."
    columns={3}
    items={[
      {
        title: 'Immersive and Professional Design',
        description:
          'Our solutions feature cutting-edge design trends, providing a highly immersive and professional experience.',
        icon: 'tabler:artboard',
      },
      {
        title: 'Multi-Device Compatibility',
        description: 'Our XR experiences adapt seamlessly across different platforms, ensuring a consistent and engaging experience.',
        icon: 'tabler:picture-in-picture',
      },
      {
        title: 'Customisability',
        description:
          'Highly customisable to match your experience, allowing adjustments in design, interactions, and content to fit your needs.',
        icon: 'tabler:adjustments-horizontal',
      },
      {
        title: 'Fast Performance',
        description: 'Optimised for speed to ensure a smooth, uninterrupted immersive experience with minimal latency.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Interactivity',
        description:
          'Engage users with interactive elements that enhance the XR experience, making it more immersive and enjoyable.',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Cross-Platform Compatibility',
        description: 'Our solutions are compatible with various XR hardware and software platforms, ensuring broad accessibility.',
        icon: 'tabler:plug-connected',
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title: 'What services does FoVR Interactive provide?',
        description:
          'FoVR Interactive specialises in creating immersive VR, AR, and XR experiences. Our services include custom VR development, interactive demos and previews, and XR consulting.',
      },
      {
        title: 'Why should I choose immersive VR/AR/XR experiences?',
        description:
          'Immersive experiences provide unparalleled engagement and interactivity, making them ideal for training, marketing, education, and entertainment. They help create memorable and impactful experiences for users.',
      },
      {
        title: 'Can I see a demo of your Immersive projects?',
        description:
          'Yes, we offer interactive demos and previews of our projects. You can experience the full potential of our technology and see how it can be tailored to your needs before implementation.',
      },
      {
        title: 'Do I need special equipment to use your Immersive solutions?',
        description:
          'While some experiences may require specific hardware like VR headsets or AR-enabled devices, we design our solutions to be compatible with a wide range of equipment. We can guide you on the best setup for your needs.',
      },
      {
        title: 'How customisable are your Immersive solutions?',
        description:
          'Our solutions are highly customisable. You can adjust the design, interactions, and content to match your brand identity and specific project requirements.',
      },
      {
        title: 'What support do you offer for your Immersive solutions?',
        description:
          "We provide comprehensive support including step-by-step guides for customisation and a dedicated support team to assist with any technical issues or questions you may have.",
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact Us',
        href: '/contact',
      },
    ]}
  >
    <Fragment slot="title">Let’s Collaborate or Chat</Fragment>

    <Fragment slot="subtitle">
      Have an idea? Want to know more about VR? Reach out. We would love to hear from you! Together, we can shape the future of immersive experiences.
    </Fragment>
  </CallToAction>
</Layout>
