---
import CallToAction from '@/components/widgets/CallToAction.astro';
import Content from '@/components/widgets/Content.astro';
import Features2 from '@/components/widgets/Features2.astro';
import Hero from '@/components/widgets/Hero.astro';
import Testimonials from '@/components/widgets/Testimonials.astro';
import Layout from '@/layouts/PageLayout.astro';

const metadata = {
  title: 'Services',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Our Services"
    title="Immersive Experiences for Education and Entertainment"
    subtitle="At FoVR Interactive, we craft immersive VR, AR, and XR experiences tailored to education, entertainment, and beyond. By leveraging spatial computing, we create interactive environments that engage audiences, transform learning, and open doors to bold new concepts."
    image={{
      src: '@/assets/images/services-banner.png',
      alt: 'A stylised image of people standing in a room with VR headsets.',
    }}
  />

  <!-- Content Widget **************** -->

<Content
    isReversed
    items={[
      {
        title: 'VR Learning Experiences',
        description:
          'Revolutionise the classroom with immersive VR experiences that make learning engaging and unforgettable. From virtual field trips to interactive training modules, we help turn education into an adventure.',
        icon: 'tabler:world',
      },
      {
        title: 'Interactive Entertainment',
        description:
          'Bring stories, games, and events to life with captivating VR experiences. Whether it’s a heart-pounding game or a mesmerising story, we design for maximum engagement and fun.',
        icon: 'tabler:cardboards',
      },
      {
        title: 'Concept Prototyping',
        description:
          'Got a bold new idea for VR or AR? Let’s make it happen. We specialise in creating proofs of concept and prototypes to bring your creative visions to life.',
        icon: 'tabler:wand',
      },
    ]}
    image={{
      src: '@/assets/images/services-development.png',
      alt: 'A stylised image a person sitting down doing VR Development.',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Education and Entertainment Solutions</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Custom Training',
        description:
          'Empower your team with the skills to excel in VR and AR. Our tailored workshops and training programs ensure you’re ready to embrace immersive technologies.',
        icon: 'tabler:school',
      },
      {
        title: 'Project Planning and Strategy',
        description:
          'We guide you from concept to launch, offering strategic advice and project management to make sure your immersive project is delivered seamlessly.',
        icon: 'tabler:bulb',
      },
      {
        title: 'Technology Exploration',
        description:
          'Not sure where to start? We’ll help you evaluate the right tools and platforms to bring your idea to life.',
        icon: 'tabler:device-laptop',
      },
    ]}
    image={{
      src: '@/assets/images/services-consulting.png',
      alt: 'A stylised image of two people in vr headsets having a conversation.',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Your Partner in Immersive Technology</h3>
    </Fragment>
  </Content>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Focused on Education, Entertainment, and More"
    subtitle="Explore our tailored solutions for various industries and see how we can help elevate your projects."
    columns={3}
    items={[
      {
        title: 'Education',
        description:
          'Create classrooms that inspire. Our VR and AR solutions transform learning into an immersive and interactive experience that students will never forget.',
        icon: 'tabler:school',
      },
      {
        title: 'Entertainment',
        description:
          'Deliver unforgettable games and experiences. From immersive storytelling to interactive gaming, we build solutions that captivate and engage.',
        icon: 'tabler:photo',
      },
      {
        title: 'Concepts and Experiments',
        description:
          'Exploring new frontiers? We love working on cutting-edge ideas and experimenting with what’s possible in the XR space.',
        icon: 'tabler:tools',
      },
    ]}
  />

  
  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact us',
        href: '/contact',
      },
    ]}
    title="Bring Your Ideas to Life"
    subtitle="Whether you’re looking to build the next big VR game, transform education, or prototype a new concept, we’re ready to help. Let’s create something incredible together."
  />
</Layout>
