---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Steps from '~/components/widgets/Steps.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';

import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';
import { YouTube } from 'astro-embed';

const appStoreImg = '~/assets/images/app-store.png';
const appLabDownloadLink = 'https://www.oculus.com/deeplink/?action=view&path=/app/5525534314159952';

const googlePlayImg = '~/assets/images/google-play.png';
const steamDownloadLink = 'https://store.steampowered.com/app/2370100/Smash_Room/';

const metadata = {
  title: 'Smash Room',
};
---

<Layout metadata={metadata}>

  <Hero2
    tagline="Portfolio Project"
    image={{
      src: '~/assets/images/stream-space.png',
      alt: 'Streaming Space Logo',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Streaming Space</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        The Streaming Space was created as a proof of concept to allowing VR users to stream content natively from inside their VR environment to the outside world.
      </span>
    </Fragment>
  </Hero2>

  <!-- Youtube Video ************** -->

  <div class="container mx-auto px-4 sm:px-6">
    <YouTube id="7NbWrFjJ_zM" title="Virtual Streaming Space" />
    <style is:inline>
    lite-youtube {
      display: block;          
      margin: 0 auto;          
      max-width: 960px;        
      width: 100%;             
    }
    </style>
  </div>

  <!-- Features3 Widget ************** -->

  <Features3
    title="Key Features"
    columns={3}
    items={[
      {
        title: 'Camera Streaming',
        description: 'Stream from an additional camera set up inside your VR scene, allowing users to view your avatar.',
        icon: 'tabler:square-number-1',
      },
      {
        title: 'Interactive Objects',
        description:
          'Unlike avatar filters that are 2D, streaming from 3D environment allows you to interact with objects in the scene.',
        icon: 'tabler:square-number-2',
      },
      {
        title: 'Custom Cameras & Lighting',
        description: 'Having a full 3D scene allows easier and cheaper customisation of the space for camera postions and lighting.',
        icon: 'tabler:square-number-3',
      },
    ]}
  />

   <!-- Steps Widget ****************** -->

  <Steps
    isReversed
    title="Process and Development"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Concept and Planning</span>',
        description:
          "Taking the idea of a virtual camera and gathered sources to understand how it could be done.",
        icon: 'tabler:bulb',
      },
      {
        title: 'Step 2: <span class="font-medium">Design and Prototyping</em>',
        description:
          "Developed a prototype to demonstrate the virtual camera, and how it could be used to stream VR environment to the real world.",
        icon: 'tabler:pencil',
      },
      {
        title: 'Step 3: <span class="font-medium">Development</span>',
        description:
          'Utilised Unity to build the VR experience, focusing on camera streaminig, interactive objects, and user interface.',
        icon: 'tabler:code',
      },
      {
        title: 'Step 4: <span class="font-medium">Testing and Iteration</span>',
        description:
          'Tested with a couple of users, implementing feedback for better user experience in the application.',
        icon: 'tabler:arrow-iteration',
      },
      {
        title: 'Step 5: <span class="font-medium">Final Delivery</span>',
        description:
          'Delivered a workable VR Streaming Space experience that meets the requirements to demonstrate how a streaming space could be a viable solution.',
        icon: 'tabler:cube-send',
      },
    ]}
    image={{
      src: '~/assets/images/stream-space-vert.png',
      alt: 'Steps image',
    }}
  />

  <!-- FAQs Widget ******************* -->
  
  <FAQs
    title="Challenges and Solutions"
    items={[
      {
        title: 'Challenge: Working Streaming Camera',
        description:
          'Solution: Discovered a way to have the virtual camera feed come out seperatly to the player camera feed.',
      },
      {
        title: 'Challenge: Establishing Camera & Lighting Setup Correctly',
        description:
          'Solution: Working with videographers and photgraphers to udnerstand best lighting and camera positons for streaming.',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    items={[
      {
        title: 'Industry Recognition',
        description: 'The Streaming Space attracted attention from QLD XR Hub, leading to a shout out in their newsletter.',
        icon: 'tabler:wifi-off',
      },
      {
        title: 'Interactive Features',
        description:
          'Users frequently utilised interactive objects, suggesting that the 3D environment significantly enhances the user experience compared to traditional 2D streaming.',
        icon: 'tabler:file-download',
      },
      {
        title: 'Pushing Boundries',
        description: 'The Streaming Space revolutionises the way users share their VR experiences, showing people not too exposed to the technology what is capable in a VR Environment. ',
        icon: 'tabler:refresh',
      },
    ]}
    image={{
      src: '~/assets/images/stream-space-rni.png',
      alt: 'Vintage Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Results and Impact</h3>
    </Fragment>
  </Content>

</Layout>
